@charset "utf-8";
/* CSS Document */

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
	font-family: Trebuchet MS;
	color: #252525;
	font-size: 12px;
	background: transparent url(../img/main-bg.gif) repeat-x scroll left top;
}

#header {
	background:transparent url(../img/tv-bg.gif) no-repeat scroll 98% top;
	height: 80px;
}
	#logo {
		float: left;
		padding: 12px 0px 0px 29px; 
		background: url(../img/logo.gif) bottom center no-repeat;
		width: 215px;
		height: 51px;
	}
	#header-title {
		float: right;
		padding: 25px 25px 0px 0px;
		font-size: 25px;
		font-weight: bold;
		color: #444444;
	}

#content-table {
	border-collapse:collapse;
	width:100%;	
}

#content-table td {
	vertical-align:top;
}

#content {
	background: #fff url(../img/main-bg.gif) 0px -230px repeat-x;
}
	div.demo-title {
		color: #050301;
		font-size: 18px;
		font-weight: bold;
		padding: 5px 20px 5px 20px;
		border-bottom: solid 1px #e3e1db;
	}
	div.demo-title span {
		color: #7F7766;
		display: block;
		font-size: 13px;
		font-weight: normal;
	}

div.links-area {
	margin: 10px 0px 0px 0px;
}
	div.links-area a {
		display: block;
		float: left;
		height: 32px;
		width: auto;
		margin-right: 5px;
		text-decoration: none;
	}
	div.links-area a#openFolder {
		background: url(../img/folder.png) left top no-repeat;
	}
	div.links-area a#docs {
		background: url(../img/question.png) left top no-repeat;
	}
	div.links-area a#docs span {
		margin: 0px 0px 0px 29px;
	}
	div.links-area a span {
		line-height: 32px;
		vertical-align: middle;
		margin: 0px 0px 0px 37px;
		color: #050301;
		font-size: 13px;
		border-bottom: solid 1px #050301;
	}
	div.links-area a:hover span {
		border-bottom: none;
	}
