
#top {
    /*    position: relative;
        background-color: #E76B24;
        color: white;
        padding: 5px;
        margin: 0px 0px 10px 0px;*/
    background: #e76b24 url('../images/orange-hatch.png') repeat-x;
    border-bottom: solid 3px #b64c00;
    padding: 0 0 1.25rem;
}

#top #logo a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent url("../images/egpaf-logo-stamp_nobkgdwhite.png") no-repeat center;
    background-size: 100% auto;
    text-indent: -9999em;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

#content {
    background: #000;
    border-bottom: 6px solid #e76b24;
    min-height: 506px;
}


